<ul id="whoweare" class="dropdown-content">
  <li><a ui-sref="clergy">Staff & Clergy</a></li>
  <li><a ui-sref="history">History</a></li>
</ul>
<ul id="events" class="dropdown-content">
  <li><a ui-sref="events">Calendar</a></li>
  <li><a ui-sref="bulletins">Bulletins</a></li>
</ul>

<nav role="navigation">
  <div class="nav-wrapper">
    <a href="#" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>

    <a ui-sref="home"> <img src="img/templelogo.png" class="full-logo hide-on-med-and-down"></img></a>
    <!-- <a href="#" class="brand-logo hide-on-med-and-down grow">Logo</a> -->
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="home">Home</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="whoweare" dropdown data-hover="true">Who We Are<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-button" href="#!" data-activates="events" dropdown data-hover="true">Events<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a ui-sref="worship" class="waves-effect waves-teal">Worship</a></li>
      <li><a ui-sref="membership" class="waves-effect waves-teal">Membership</a></li>
      <li><a ui-sref="education" class="waves-effect waves-teal">Education</a></li>
      <li><a ui-sref="asktherabbi" class="waves-effect waves-teal">Ask The Rabbi</a></li>
      <li><a ui-sref="contribute" class="waves-effect waves-teal">Contribute</a></li>
    </ul>


    <ul id="nav-mobile" class="side-nav">
         <li class="logo-container"><a class="nav-logo" ui-sref="home">
            <img src="img/logo-black.png"></img></a></li>
        <li><a ui-sref="home" class="waves-effect waves-teal">Home</a></li>
        <li><a ui-sref="clergy" class="waves-effect waves-teal">Staff & Clergy</a></li>
        <li><a ui-sref="history" class="waves-effect waves-teal">History</a></li>
        <li><a ui-sref="events" class="waves-effect waves-teal">Calendar</a></li>
        <li><a ui-sref="education" class="waves-effect waves-teal">Education</a></li>
        <li><a ui-sref="worship" class="waves-effect waves-teal">Worship</a></li>
        <li><a ui-sref="membership" class="waves-effect waves-teal">Membership</a></li>
        <li><a ui-sref="bulletins" class="waves-effect waves-teal">Bulletins</a></li>
        <li><a ui-sref="asktherabbi" class="waves-effect waves-teal">Ask The Rabbi</a></li>
        <li><a ui-sref="contribute" class="waves-effect waves-teal">Contribute</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi mdi-menu"></i></a>
    </div>
  </nav>

