<div class="container">
	<h2 class="header">Contribute</h2>
	<p>Use the <b>Donate</b> button below to contribute to Temple Beth Tikvah.</p>

	<h4 class="header">Funds</h4>
	<p>If you would like your donation to go specifically to one of the funds listed below, use the <em>Add special instructions to the seller</em> link after you log into PayPal and enter the fund name for your donation.</p>
	<ul class="collapsible" data-collapsible="expandable">
	    <li ng-repeat="fund in contributeCtrl.funds" ng-click="fund.open = !fund.open">
	      <div class="collapsible-header"><i class="material-icons">{{contributeCtrl.getIcon(fund.open)}}</i>{{fund.header}}</div>
	      <div class="collapsible-body"><p>{{fund.body}}</p></div>
	    </li>
  	</ul>

  	<h4 class="header">Special Membership Packages</h4>
	<p>Any member can receive one of the following packages by donating the amount shown. Use the <em>Add special instructions to the seller</em> link after you log into PayPal to enter the package name for your donation.</p>
	<ul class="collapsible" data-collapsible="expandable">
	    <li ng-repeat="package in contributeCtrl.packages" ng-click="package.open = !package.open">
	        <div class="collapsible-header"><i class="material-icons">{{contributeCtrl.getIcon(package.open)}}</i>{{package.header}} ........ {{package.price}}</div>
	      <div class="collapsible-body"><p>{{package.body}}</p></div>
	    </li>
	</ul>

	<h4 class="header">More Info</h4>
	<p>For help making donations, contact the Temple office for details on any of these opportunities.</p>
</div>