<div class="container">
	<div class="row">
		<div class="col l9 s12">
			<h2 class="header">Education</h2>

			<section scrollspy id="religious-school">
				<h4 class="header">Religious School</h4>
				<p>{{educationCtrl.about}}</p>
				<ul class="collection">
					<li class="collection-item education-offering" ng-repeat="offering in educationCtrl.offerings">
						<span class="title">{{offering.name}}</span>
						<p>Ages: {{offering.age}}<br>Time: {{offering.time}}</p>
					</li>
				</ul>
				<a href="http://www.w3schools.com/html/">Class Schedule</a>

				<h5>B'nai Mitzvah</h5>
				<ul>
					<li ng-repeat="bnai in educationCtrl.bnais">
						<p>{{bnai}}</p>
					</li>
				</ul>

				<h5>We Offer Students and Families...</h5>
				<ul class="education-promises">
					<li ng-repeat="promise in educationCtrl.promises">
						<p>{{promise}}</p>
					</li>
				</ul>
				<p><b>{{educationCtrl.specialNeeds}}</b></p>
			</section>
			<hr class="subheader">

			<section scrollspy id="tots">
				<h4 class="header">TBT Torah Tots</h4>
			</section>
			<hr class="subheader">

			<section scrollspy id="adult">
				<h4 class="header">Adult Education</h4>
			</section>
			<hr class="subheader">

			<section scrollspy id="family">
				<h4 class="header">Family Education</h4>
			</section>
			<hr class="subheader">

			<section scrollspy id="more" class="education-more-info">
				<h4 class="header">More Information</h4>
				<p>For More Information, contact {{educationCtrl.director.name}} - our director of education.</p>
				<div class="row">
					<div class="col l6 s12">
						<div class="card hoverable">
							<div class="card-image waves-effect waves-block waves-light">
								<img class="activator" ng-src='img/{{educationCtrl.director.image}}'>
							</div>
							<div class="card-content">
								<span class="card-title activator grey-text text-darken-4">{{educationCtrl.director.name}}<i class="material-icons right">more_vert</i></span>
								<p class="grey-text text-lighten-1">{{educationCtrl.director.email}}</p>
							</div>
							<div class="card-reveal">
								<span class="card-title grey-text text-darken-4">{{educationCtrl.director.name}}<i class="material-icons right">close</i></span>
								<p>{{educationCtrl.director.bio}}</p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col l3 hide-on-med-and-down">
			<ul class="section table-of-contents sidebar">
		        <li> <a href="#religious-school" ng-click="scrollTo('religious-school')">Religious School</a></li>
		        <li> <a href="#tots" ng-click="scrollTo('tots')">TBT Tots</a></li>
		        <li> <a href="#adult" ng-click="scrollTo('adult')">Adult Education</a></li>
		        <li> <a href="#family" ng-click="scrollTo('family')">Family Education</a></li>
		        <li> <a href="#more" ng-click="scrollTo('more')">More Info</a></li>

	      	</ul>
			<iframe class="facebook-education sidebar" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTemple-Beth-Tikvah-Wayne-573503462723038%2F%3Ffref%3Dts&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1879757868936391" width="600px" height="400px" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      
		</div>
	</div>
</div>