
<div class="parallax-container fill-screen-almost valign-wrapper glass">
  <div class="container valign">
    <img src="img/TBT-black-trans.png" class="image-center"></img>
    <h3 class="white-text center">Worship, Learn, Grow</h3>
    <div class="row center">
      <a ui-sref="membership" class="center btn-large waves-effect waves-yellow light-blue lighten-2 hoverable">Become A Member Today!</a>
    </div>
  </div>

  <div parallax><img src='img/stained.jpg' style="display: block"></div>
</div>

<div class="grey lighten-4" style="padding:1px;">
  <div class="container">
    <h2 class="header">A Message From the Rabbi</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="img/rabbi.jpg">
      </div>
      <div class="card-stacked">
        <div class="video-container card-content">
          <iframe width="853" height="480" src="//www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <h2 class="header">Temple Beth Tikvah - House of Hope</h2>
    <div class="slider" slider>
      <ul class="slides">
        <li ng-repeat="slide in slides">
          <img ng-src="img/{{slide.image}}">
          <div class="caption center-align glass">
            <h3>{{slide.title}}</h3>
            <h5 class="light grey-text text-lighten-3">{{slide.subTitle}}</h5>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row">
      <div ng-repeat='card in homeCards'>
        <div class="col l4 s6">
          <temple-card link-text={{card.linkText}} card-text={{card.text}} card-title="{{card.title}}" link="{{card.link}}" image='{{card.image}}'></temple-card>
        </div>    
      </div>
    </div>
  </div>
</div>