
<div class="parallax-container fill-screen-almost valign-wrapper glass">
  <div class="container valign">
    <h3 class="white-text center temple-font xl">Temple Beth Tikvah</h3>
    <h3 class="white-text center temple-font">Worship, Learn, Grow</h3>
    <div class="row center">
      <a ui-sref="membership" class="center btn-large waves-effect waves-yellow light-blue lighten-2 hoverable">Become A Member Today!</a>
    </div>
  </div>

  <div parallax><img ng-src='img/{{homeCtrl.coverImage}}' style="display: block"></div>
</div>

<div class="grey lighten-4" style="padding:1px;">
  <div class="container">
    <h2 class="header">A Message From the Rabbi</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="img/rabbi.png">
      </div>
      <div class="card-stacked">
        <div class="video-container card-content">
          <iframe width="853" height="480" ng-src="{{homeCtrl.trustSrc(homeCtrl.video)}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr>

    <h2 class="header">Temple Beth Tikvah - House of Hope</h2>
    <div class="slider" slider>
      <ul class="slides">
        <li ng-repeat="slide in homeCtrl.slides">
          <img ng-src="img/{{slide.image}}">
          <div class="caption center-align glass">
            <h3>{{slide.title}}</h3>
            <h5 class="light grey-text text-lighten-3">{{slide.subTitle}}</h5>
          </div>
        </li>
      </ul>
    </div>

    <hr>

    <div class="row">
      <div class="col l9 s12">
        <div class="row">
          <div ng-repeat='card in homeCtrl.homeCards'>
            <div class="col l4 s6">
              <temple-card link-text={{card.linkText}} card-text={{card.text}} card-title="{{card.title}}" link="{{card.link}}" image='{{card.image}}'></temple-card>
            </div>
          </div> 
        </div>   
      </div>
      <div class="col l3 hide-on-med-and-down">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FTemple-Beth-Tikvah-Wayne-573503462723038%2F%3Ffref%3Dts&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=1879757868936391" width="600px" height="500px" style="border:none;overflow:hidden;" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
      </div>
    </div>
  </div>
  </div>