<ul id="whoweare" class="dropdown-content">
  <li><a ui-sref="clergy">Clergy</a></li>
  <li><a ui-sref="history">History</a></li>
</ul>

<nav role="navigation">
  <div class="nav-wrapper">
    <a href="#" data-activates="nav-mobile" data-sidenav="left" data-closeonclick="true" class="button-collapse"><i class="material-icons">menu</i></a>

    <a href="#"> <img src="img/logo.png" class="full-logo hide-on-med-and-down"></img></a>
    <!-- <a href="#" class="brand-logo hide-on-med-and-down grow">Logo</a> -->
    <ul class="right hide-on-med-and-down">
      <li><a ui-sref="home">Home</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="whoweare" dropdown data-hover="true">Who We Are<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a ui-sref="events">Events</a></li>
      <li><a ui-sref="membership">Membership</a></li>
      <li><a ui-sref="education">Education</a></li>
      <li><a ui-sref="bulletins">Bulletins</a></li>
      <li><a ui-sref="contribute">Contribute</a></li>
    </ul>


    <ul id="nav-mobile" class="side-nav">
         <li class="logo-container"><a class="nav-logo" ui-sref="home">
            <img src="img/logo.png"></img></a></li>
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="clergy">Clergy</a></li>
        <li><a ui-sref="history">History</a></li>
        <li><a ui-sref="events">Events</a></li>
        <li><a ui-sref="education">Education</a></li>
        <li><a ui-sref="membership">Membership</a></li>
        <li><a ui-sref="bulletins">Bulletins</a></li>
        <li><a ui-sref="contribute">Contribute</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi mdi-menu"></i></a>
    </div>
  </nav>

